@model Casino.ViewModels.SlotMachine.SpinResultOutputModel
@{
    ViewData["Title"] = "Slot Machine";
    var isWin = Model.SpinResult != null && Model.SpinResult.IsWinning;
    var spinResultMessage = isWin ? "Congratulations!" : "Better luck next time!";
    var tableClass = isWin ? "table-primary" : "table-danger";
}

<div class="container">
    @if (Model.SpinResult != default)
    {
    <div class="row">
        <table class="table @tableClass">
            <thead>
                <tr>
                    <th scope="col">@spinResultMessage</th>
                </tr>
                <tr>                
                    <th scope="col">Winnings</th>
                    <th scope="col">Current Balance</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">@Math.Round(Model.SpinResult.Winnings, 1)</th>
                    <th scope="row">@Math.Round(Model.NewBalance, 1)</th>
                </tr>
            </tbody>
        </table>
        </div>
    }
    else
    {
    <h3>@Model.ErrorMessage</h3>
    }

    <div class="row">
        @if (Model.SpinResult != null)
        {
<div class="mdl-grid" style="height:50%; position:relative;">
    @foreach (var line in Model.SpinResult.Lines)
    {
@foreach (var symbol in line.Symbols)
{

<div class="mdl-cell mdl-cell--4-col">
    <div class="demo-card-square mdl-card mdl-shadow--2dp" style="width: 100%; height:100%; min-height:50px">
        <div class="mdl-card__title mdl-card--expand" id="symbol" style="background: url('@symbol.ImageURL') center no-repeat; ">

        </div>
    </div>
</div>          }}
</div>}
    </div>

    <div class="row">
        <div class="col-lg-4 offset-lg-4">
            <form asp-controller="Slot" asp-action="SpinTheSlot" method="post">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="form-group">
                    <label asp-for="BetSize"></label>
                    <input asp-for="BetSize" type="number" class="form-control" id="betSize" aria-describedby="betSize" placeholder="Place your bet">
                    <span asp-validation-for="BetSize" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Spin</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}